-r requirements.txt
beautifulsoup4==4.3.2
pre-commit==0.3.6
pytest==2.6.4
pytest-cov==1.8.1
pytest-xdist==1.11
Sphinx==1.2.3
sphinx-autobuild==0.3.0
sphinx-rtd-theme==0.1.6
sphinxcontrib-napoleon==0.2.8
